<head>
  <meta charset="utf-8">
  <title>ParkIt!</title>
  <link rel="stylesheet" href="/login.css" type="text/css">
</head>
<body>
  <header id="login-header">
      <h1 class="site-title">Login</h1>
  </header>
  <main>
      <div class="login-input-container">
          <form action="auth" method="POST">
              <label for="username-text" class="login-label">Email</label>
              <input type="text" name="username-text" id="username-text" class="login-input">
              <label for="password-text" class="login-label">Password</label>
              <input type="password" name="password-text" id="password-text" class="login-input">
              <input type="submit" value="Submit" id="submit-button">
          </form>
      </div>
      <!-- <button id="submit-button">Submit</button> -->
  </main>
</body>