<head>
  <title>ParkIt!</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <header id="login-header">
      <h1 class="site-title">Login Success!</h1>
  </header>
  <div id="directory-container">
    <form method="GET" action="/">
      <button type="submit" class="user-button" id="create-search-link">Search for parking!</button>
    </form>
    <form method="GET" action="/report_bug">
      <button type="submit" class="user-button" id="bug-report-link">Report a bug!</button>
    </form>
    </div>
</body>
