header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: max;
    background-color: darkred;
    color: black;
}
.site-title{
    font-size: 60px;
}
body{
    background-color: grey;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-input-container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 165px;
}
form{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.input-container{
    display: flex;
    flex-direction: column;
    margin: 35px;
}
.login-input{
    width: 500px;
    height: 50px;
    border-radius: 15px;
    font-size: 30px;
}
.login-input-container label{
    font-size: 35px;
    font-weight: bold;
}
#submit-button{
    border: 1px solid black;
    width:225px;
    height: 60px;
    font-size: 40px;
    border-radius: 15px;
    background-color: lightcoral;

}
#submit-button:hover{
    cursor: pointer;
    width: 250px;
    height: 70px;
    font-size: 45px;
}